<h1>Edit Profile</h1>
<%= render "form", dependent: @dependent %>
<br>
<div>
  <%= link_to "Update Profile", @dependent, class:"btn form_btn" %>
  <br>
  <%= link_to "Back", dependents_path ,class:"btn form_btn"%>
</div>
