<h1>Editing dependent</h1>

<%= render "form", dependent: @dependent %>

<br>

<div>
  <%= link_to "Show this dependent", @dependent %> |
  <%= link_to "Back to dependents", dependents_path %>
</div>
