<div class="container dashboard-container">
  <h1 class="mt-5">Dashboard</h1>
  <p>Welcome, <%= current_user.email %>!</p>

  <% if @dependents.present? %>
    <div class="dependents-list">
      <% @dependents.each do |dependent| %>
        <div class="dependent">
          <%= link_to dependent_path(dependent) do %>
            <%= image_tag(dependent.image_url, alt: dependent.first_name, class: "profile_image rounded-circle img-thumbnail mb-1") %>
          <% end %>
        </div>
      <% end %>
    </div>
  <% else %>
    <p>No dependents found.</p>
  <% end %>
</div>
