<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pathway</title>
    <%= render 'shared/cdn_assets' %>
   
  </head>
  <body>

    <!-- Hero Section -->
    <div class="hero">
      <div class="text-black">
        <h1>Pathway: Simplify and Organize Your Immigration Journey with Confidence.</h1>
        <p class="lead">Unravel complex regulations, stay ahead of deadlines, and manage your documents with ease.</p>
      </div>
    </div>

    <!-- Features Section -->
    <div class="container features">
      <div class="row">
        <div class="col-md-4 text-center">
          <img src="https://via.placeholder.com/100" class="mb-3" alt="Feature 1">
          <h3>Document Management</h3>
          <p>Easily manage immigration documents for yourself and your family.</p>
        </div>
        <div class="col-md-4 text-center">
          <img src="https://via.placeholder.com/100" class="mb-3" alt="Feature 2">
          <h3>Clear Summaries</h3>
          <p>Unravel complex regulations with clear and concise summaries.</p>
        </div>
        <div class="col-md-4 text-center">
          <img src="https://via.placeholder.com/100" class="mb-3" alt="Feature 3">
          <h3>Integrated Calendar</h3>
          <p>Stay ahead of deadlines with an integrated calendar and reminder system.</p>
        </div>
      </div>
    </div>

   


  </body>
</html>
