<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pathway</title>
    <%= render 'shared/cdn_assets' %>
   
  </head>
  <body>

    <!-- Hero Section -->
    <div class="hero">
      <div class="text-black">
        <h1>Pathway</h1>
        <h2>Simplify and Organize Your Immigration Journey with Confidence.</h2>
        <p class="lead p-2">Unravel complex regulations, stay ahead of deadlines, and manage your documents with ease.</p>
      </div>
    </div>

    


  </body>
</html>
