<div class="row">
  <div class="col md-6 offset-3">
    <%= @user.username %>

    <ul class="nav nav-pills nav-justified">
      <li class="nav-item">
        <%= link_to 'Family', profiles_path  %>
      </li>
    </ul>
  </div>

</div>
