<% if @breadcrumbs.present? %>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <% @breadcrumbs.each do |breadcrumb| %>
        <% content = breadcrumb.fetch(:content, nil) %> 
        <% if content.present? %> 
          <% if breadcrumb == @breadcrumbs.last %>
            <li class="breadcrumb-item active" aria-current="page">
              <%= content %>
            </li>
          <% else %>
            <li class="breadcrumb-item">
              <%= link_to content, breadcrumb[:href] %>
            </li>
          <% end %>
        <% end %>
      <% end %>
    </ol>
  </nav>
<% end %>
