<div class="feature-videos container-fluid py-5">
  <div class="row justify-content-center">
    <!-- Top Row -->
    <div class="col-lg-6 mb-4">
      <div class="card border-0 h-100">
        <div class="card-body p-0">
          <video class="card-img-top img-fluid mx-auto d-block" style="max-height: 500px; width: 100%;" autoplay loop muted playsinline>
            <source src="<%= asset_path('access_forms.mov') %>" type="video/mp4">
          </video>
        </div>
        <div class="card-footer text-center bg-black text-white">
          <h5 class="card-title mb-0">Access USCIS Forms</h5>
        </div>
      </div>
    </div>

    <div class="col-lg-6 mb-4">
      <div class="card border-0 h-100">
        <div class="card-body p-0">
          <video class="card-img-top img-fluid mx-auto d-block" style="max-height: 500px; width: 100%;" autoplay loop muted playsinline>
            <source src="<%= asset_path('create_profiles.mov') %>" type="video/mp4">
          </video>
        </div>
        <div class="card-footer text-center bg-black text-white">
          <h5 class="card-title mb-0">Create New Profiles</h5>
        </div>
      </div>
    </div>

    <!-- Bottom Row -->
    <div class="col-lg-6 mb-4">
      <div class="card border-0 h-100">
        <div class="card-body p-0">
          <video class="card-img-top img-fluid mx-auto d-block" style="max-height: 500px; width: 100%;" autoplay loop muted playsinline>
            <source src="<%= asset_path('upload_docs.mov') %>" type="video/mp4">
          </video>
        </div>
        <div class="card-footer text-center bg-black text-white">
          <h5 class="card-title mb-0">Upload Documents</h5>
        </div>
      </div>
    </div>

    <div class="col-lg-6 mb-4">
      <div class="card border-0 h-100">
        <div class="card-body p-0">
          <video class="card-img-top img-fluid mx-auto d-block" style="max-height: 500px; width: 100%;" autoplay loop muted playsinline>
            <source src="<%= asset_path('set_reminders.mov') %>" type="video/mp4">
          </video>
        </div>
        <div class="card-footer text-center bg-black text-white">
          <h5 class="card-title mb-0">Set Reminders</h5>
        </div>
      </div>
    </div>
  </div>
</div>
