<div class="feature-videos container-fluid py-5">
  <div class="d-flex flex-column align-items-center">
    <div class="video-container d-flex flex-row-reverse">
      <video class="video-player" autoplay loop muted playsinline>
        <source src="<%= asset_path('access_forms.mov') %>" type="video/mp4">
      </video>
      <div class="video-description text-center d-none d-sm-block">
        <h5 class="mb-0">Access USCIS Forms</h5>
      </div>
    </div>

    <div class="video-container d-flex flex-row">
      <video class="video-player" autoplay loop muted playsinline>
        <source src="<%= asset_path('create_profiles.mov') %>" type="video/mp4">
      </video>
      <div class="video-description text-center d-none d-sm-block">
        <h5 class="mb-0">Create New Profiles</h5>
      </div>
    </div>

    <div class="video-container d-flex flex-row-reverse">
      <video class="video-player" autoplay loop muted playsinline>
        <source src="<%= asset_path('upload_docs.mov') %>" type="video/mp4">
      </video>
      <div class="video-description text-center d-none d-sm-block">
        <h5 class="mb-0">Upload Documents</h5>
      </div>
    </div>

    <div class="video-container d-flex flex-row">
      <video class="video-player" autoplay loop muted playsinline>
        <source src="<%= asset_path('set_reminders.mov') %>" type="video/mp4">
      </video>
      <div class="video-description text-center d-none d-sm-block">
        <h5 class="mb-0">Set Reminders</h5>
      </div>
    </div>
  </div>
</div>
