<footer class="bg-black footer text-center text-lg-start text-white">
  <div class="container p-4">
    <div class="row">
      <!-- Company Info -->
      <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase">Pathway</h5>
        <%= link_to image_tag('pathway_logo.png', alt: 'Pathway Logo', class: 'rounded-circle pathway_logo navbar-brand'), root_path%>
      </div>

      <!-- Quick Links -->
      <div class="col-lg-2 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase">Quick Links</h5>
        <ul class="list-unstyled mb-0">
          <li>
            <a href="#!" class="text-reset">Home</a>
          </li>
          <li>
            <a href="#!" class="text-reset">About</a>
          </li>
          <li>
            <a href="#!" class="text-reset">Services</a>
          </li>
          <li>
            <a href="#!" class="text-reset">Contact</a>
          </li>
        </ul>
      </div>

      <!-- Resources -->
      <div class="col-lg-2 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase">Resources</h5>
        <ul class="list-unstyled mb-0">
          <li>
            <a href="#!" class="text-reset">Blog</a>
          </li>
          <li>
            <a href="#!" class="text-reset">FAQ</a>
          </li>
          <li>
            <a href="#!" class="text-reset">Help Center</a>
          </li>
          <li>
            <a href="#!" class="text-reset">Support</a>
          </li>
        </ul>
      </div>

      <!-- Legal -->
      <div class="col-lg-2 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase">Legal</h5>
        <ul class="list-unstyled mb-0">
          <li>
            <a href="#!" class="text-reset">Terms of Service</a>
          </li>
          <li>
            <a href="#!" class="text-reset">Privacy Policy</a>
          </li>
          <li>
            <a href="#!" class="text-reset">Cookie Policy</a>
          </li>
          <li>
            <a href="#!" class="text-reset">Licenses</a>
          </li>
        </ul>
      </div>

      <!-- Social Media -->
      <div class="col-lg-2 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase">Follow Us</h5>
        <ul class="list-unstyled mb-0">

          <li>
            <a href="#!" class="text-reset">LinkedIn</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
