/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* LANDING PAGE */
.landing-page {
  height: 110vh;
}
.hero {
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: "Hanken Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  text-transform: uppercase;
}

/* breadcrumbs */
.breadcrumb {
  background-color: transparent;
  font-size: 14px;
}

.breadcrumb-item.active {
  color: #6c757d;
}



/* Small */
@media only screen and (max-width: 768px){
  .hero h1 {
    font-size: 4rem;
  }

  .hero h2 {
    font-size: 1.5rem;
  }

  .hero p {
    font-size: 0.5rem;
  }

}

/* Medium */
@media only screen and (min-width: 768px)  {
  .hero {
    height: 60vh;
  }

  .hero h1 {
    font-size: 7rem;
  }

  .hero h2 {
    font-size: 2rem;
  }

  .hero p {
    font-size: 1.2rem;
  }
}

/* Large */
@media only screen and (min-width: 992px) {
  .hero {
    height: 100vh;
  }

  .hero h1 {
    font-size: 8rem;
  }

  .hero h2 {
    font-size: 2rem;
  }

  .hero p {
    font-size: 1rem;
  }
}

/* Extra large */ 
@media (min-width: 1200px) {
  .hero {
    height: 80vh;
  }

  .hero h1 {
    font-size: 9rem;
  }

  .hero h2 {
    font-size: 2rem;
  }

  .hero p {
    font-size: 1rem;
  }
}
