/* NAVIGATION */
.nav-item{
  font-family: "Hanken Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-size: 17px;

}
.nav-item :hover{
  text-decoration: underline;
  animation-duration: 20s;
}

.pathway_logo{
  height: 80px; 
  width: auto;

}

/* LANDING PAGE */
.landing-page{
  height: 90vh;
}

.hero {
  color: white;
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: "Hanken Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  text-transform: uppercase;
  
}

.hero h1 {
  font-size: 8rem;
  font-weight: bold;
  
}

/* FOOTER */
.footer {
  position: relative; 
  bottom: 0;
  height: 200px;
  width: 100%;
  margin-top: 20px; 
}


.forms-page{
  height: 100vh;
}
