main {
  height: auto; 
  font-family: "Hanken Grotesk", sans-serif;
  background-color: #181818;
}

.table th,
.table td {
  border: none; 
}

.table th {
  background-color: #181818;
  color: white;
}

.table-striped tbody tr:nth-of-type(odd) td {
  background-color: #181818; 
}

.table-striped tbody tr:nth-of-type(even) td {
  background-color: #181818; 
}

.calendar-container {
  max-width: 1200px;
  background-color: #181818;
  padding: 20px;
  border-radius: 10px;
}

.calendar-day {
  min-height: 150px; 
  transition: background-color 0.3s ease; 
  flex: 1 0 14%; 
  display: flex; 
  flex-direction: column; 
  justify-content: space-between; 
  overflow: hidden;
  color: white;
}

.calendar-day:nth-child(odd) {
  background-color: #2b2b2b;
}

.calendar-day:nth-child(even) {
  background-color: #1a1a1a;
}

.calendar-day:hover {
  background-color: #3c3c3c;
}

.today {
  background-color: #c7c7c7; 
}

.date-number {
  font-size: 1.25rem;
  font-weight: 700;
  margin-bottom: 5px;
  color: #cfcfcf;
}

.document-expiry {
  font-size: 0.9rem;
  color: #ffffff;
  background-color: #dc35469d;
  font-weight: 600;
  margin-top: auto;
  text-align: center;
  word-wrap: break-word; 
  overflow: hidden;
}

.btn-outline-primary {
  font-size: 1rem; 
  padding: 5px 15px; 
  color: #ffffff; 
  border-color: #007bff; 
}

.btn-outline-primary:hover {
  background-color: #007bff;
  color: #fff; 
}

.calendar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.calendar-header h2 {
  color: white;
  margin: 0;
}

.calendar-header .btn-outline-dark {
  color: white;
  border-color: #505050;
}

.calendar-header .btn-outline-dark:hover {
  background-color: #505050;
  color: white;
}

@media (max-width: 768px) {
  .calendar-day {
    min-height: 100px; 
    flex: 1 0 48%; 
  }
}

@media (max-width: 576px) {
  .calendar-day {
    min-height: 75px;
    flex: 1 0 98%;
  }
}
