.hero {
  background-size: cover;
  color: white;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.hero h1 {
  font-size: 4rem;
}
.features {
  padding: 3rem 0;
}
