.uscis-view{
  height: 200vh;
}
.card {
  height: 100%;
}

.card {
  transition: transform 0.2s;
}
.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.card-title {
  font-size: 1.25rem;
  font-weight: bold;
}
.card-text {
  font-size: 1rem;
  flex-grow: 1;
}
.btn-secondary {
  align-self: flex-end;
}

.search_bar{
  color:black;
  width: 50%;
  margin-right: 5px;
}

/* .card:hover {
  transform: scale(1.02);
} */

.card-title {
  color: #495057; 
}

.btn-outline-secondary {
  color: #6c757d; 
  border-color: #6c757d; 
}

.btn-outline-secondary:hover {
  background-color: #e9ecef; 
}
